@function getShadows ($n) {
  $shadows: '#{random(100)}vmax #{random(100)}vmax #fff';
  $end: floor(calc($n / 4));
  @for $i from 2 through $end {
    $shadows: '#{$shadows}, #{random(100)}vmax #{random(100)}vmax #fff';
  }
  @for $i from 2 through $end {
    $shadows: '#{$shadows}, -#{random(100)}vmax -#{random(100)}vmax #fff';
  }
  @for $i from 2 through $end {
    $shadows: '#{$shadows}, -#{random(100)}vmax #{random(100)}vmax #fff';
  }
  @for $i from 2 through $end {
    $shadows: '#{$shadows}, #{random(100)}vmax -#{random(100)}vmax #fff';
  }
  @return unquote($shadows);
}



.overflow {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  left: 0;
  top: 0;
  .container {
    width: 200vmax;
    height: 200vmax;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .mountain {
      width: 100vw;
      height: 100vh;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-image: url('../../assets/image/mountain.png'), linear-gradient(0deg, rgba(12, 7, 38, 1) 0%, rgba(26, 14, 68, 1) 50%,transparent);
      background-size: 100%;
      background-repeat: no-repeat;
      background-blend-mode: multiply;
      background-position: left bottom;
    }
    .layer {
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      // animation: skyRotate 10s linear infinite reverse;
    }
    $duration: 1600s;
    $count: 3000;
    @for $i from 1 through 3 {
      $duration: calc($duration / 2);
      $count: floor(calc($count / 2));
      .layer#{$i} {
        $size: #{$i}px;
        width: $size;
        height: $size;
        box-shadow: getShadows($count);
        animation: skyRotate $duration linear infinite;
      }
    }
  }
}

@keyframes skyRotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}