.panel {
  border: .01rem solid #00FFFF;
  border-radius: .13rem;
  padding: .35rem;
  width: 5.16rem;
  .degreeOut {
    padding-left: .15rem;
    .degree {
      width: 4rem;
      .title {
        color: #fff;
        font-size: .16rem;
        margin-bottom: .2rem;
        font-weight: bold;
      }
      .degreeLine {
        --degree: 0%;
        width: 100%;
        height: .08rem;
        border-radius: 999px;
        background: #FFFFFF;
        overflow: hidden;
        .line {
          width: var(--degree);
          height: 100%;
          background: #00FFFF;
          border-radius: 999px;
          transform-origin: left center;
          transform: scaleX(0);
          transition: width .3s linear;
          animation: widthAdd 1s linear forwards;
          position: relative;
          
        }
      }
    }
  }
  .nameRow {
    font-size: .18rem;
    color: #fff;
    margin: .25rem 0;
    p {
      color: #00FFFF;
      font-size: .24rem;
      font-weight: bold;
      margin-right: .1rem;
    }
  }
  .country {
    .countryItem {
      width: 47%;
      margin-bottom: .15rem;
      .imgContainer {
        width: .27rem;
        height: .27rem;
        border-radius: 50%;
        overflow: hidden;
        margin-right: .12rem;
        img {
          object-fit: cover;
          width: 100%;
          display: block;
        }
      }
      .right {
        .degree {
          margin-top: .1rem;
          width: 100%;
          height: .08rem;
          border-radius: 999px;
          background: #FFFFFF;
          overflow: hidden;
          .line {
            width: var(--degree);
            height: 100%;
            background: #00FFFF;
            border-radius: 999px;
            transform-origin: left center;
            transform: scaleX(0);
            transition: width .3s linear;
            animation: widthAdd 1s linear forwards;
            position: relative;
            &::after{
              content: '';
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              background: linear-gradient(to right, #00FFFF 0%, darken(#00FFFF, 3%) 50%, darken(#00FFFF, 4%) 100%);
              border-radius: 999px;
              animation: wave 5s cubic-bezier(0, -1.39, 0.08, 0.99) infinite;
            }
          }
        }
        .amountShow {
          color: #fff;
          font-size: .13rem;
          padding: .1rem .05rem 0 .15rem;
          .countContainer {
            max-width: 1.3rem;
          }
        }
      }
    }
  }
}

@keyframes widthAdd {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes wave {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}