* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  &::-webkit-scrollbar {
      width: 4px;
      height: 1px;
  }

  &::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 5px rgba(24, 144, 255, .2);
      background: rgba(82, 83, 83, 0.2);
      border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
      border-radius: 8px;
      background: rgba(255, 255, 255, 0.1);
  }
}

html {
  font-size: 1vw;
  width: 100vw;
  height: 100vh;
  background: #040007;
  display: flex;
}

body {
  font-size: 16px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: var(--xy-gray-1);
  margin: auto;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.line-height-1 {
  line-height: 1;
}

.bg-white {
  background: #ffffff;
}

.font-bold {
  font-weight: bold;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.flex-jst-start {
  justify-content: flex-start;
}

.flex-jst-end {
  justify-content: flex-end;
}

.flex-jst-center {
  justify-content: center;
}

.flex-jst-btw {
  justify-content: space-between;
}

.flex-jst-ard {
  justify-content: space-around;
}

.flex-ali-start {
  align-items: flex-start;
}

.flex-ali-end {
  align-items: flex-end;
}

.flex-ali-center {
  align-items: center;
}

.flex-ali-base {
  align-items: baseline;
}

.flex-ali-stretch {
  align-items: stretch;
}

.self-stretch {
  align-self: stretch;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.overflow-auto {
  overflow: auto;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

:root:root {
  --adm-color-primary: var(--xy-primary);
}
.app-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}